<a href="https://colab.research.google.com/github/VeraaaaWei/data_analytics/blob/Python/Copy_of_Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [60]:
import numpy as np

In [61]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

## 2.	Find country with maximum gold

In [62]:
a = np.argmax(np_olympic_country_Gold)
np_olympic_country[a]

'US'

## 3.	Find countries with more than 20 gold medals

In [63]:
gold20 = np_olympic_country_Gold >20
np_olympic_country_Gold[gold20]

array([29, 38, 24, 46])

In [64]:
#Professor, I really don't know how to answer this one, and I searched and tried a lot.I tried to use "argwhere", but it didn't work. 
np_olympic_country[:4]

array(['GBR', 'China', 'RUS', 'US'], dtype='<U5')