<a href="https://colab.research.google.com/github/VeraaaaWei/data_analytics/blob/Python/Copy_of_Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
data = [2,1,3,4,5]

## 2.	Print out those variables by using a for loop

In [ ]:
for x in data:
  print(x)

2
1
3
4
5

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
for x in data:
  print(str(x) + ' is my lucky number.')

2 is my lucky number.
1 is my lucky number.
3 is my lucky number.
4 is my lucky number.
5 is my lucky number.

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for x in range(2,21,2):
  print(x)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
print(sorted(data))

[1, 2, 3, 4, 5]

## 6.	Print out the first three elements of your list.

In [ ]:
for x in data[:3]:
  print(x)

2
1
3

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
for x in data[-2:]:
  print(x)

4
5