<a href="https://colab.research.google.com/github/VeraaaaWei/data_analytics/blob/Python/Copy_of_Practice_Exercise_for_Review011221.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to sum all the items in a list

In [ ]:
nums = [1,2,3,4,5]

sum = 0
for x in nums:
 sum += x
print(sum)

15

2. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
* Sample List : ['abc', 'xyz', 'aba', '1221']

In [19]:
def list(List):
  num = 0
  for x in List:
    if len(x) >= 2 and x[0] == x[-1]:
      num += 1
  return num

print(list(['abc', 'xyz', 'aba', '1221']))

2

3. Write a Python function that takes two lists and returns True if they have at least one common member.

In [20]:
def same (List1,List2):
  for x in List1:
    for y in List2:
      if x == y:
        return True
      else:
        return False
print(same(['1','2','3'],['8','4','5']))

False

4. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
* Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [94]:
def function(list):
  list.remove(list[0])
  list.remove(list[4-1])
  list.remove(list[5-2])
  return (list)
  
print (function(['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']))

['Green', 'White', 'Black']

5. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [50]:
list = [1,2,3,4,5]
list2 = []
for x in list:
    if x%2 != 0:
      list2.append(x)
print(list2)

[1, 3, 5]

6. Write a Python program to convert a list of characters into a string.

In [53]:
l = ['V', 'e', 'r', 'a']
list = ''.join(l)
print(list)

Vera

8. Write a Python program to count the number of elements in a list within a specified range.

In [57]:
list = [1,3,4,2,8,15,27]
num= 0
for x in list:
  if x >=0 and x <11 :
    num += 1
print(num)

5

9. Write a Python program to convert a list of multiple integers into a single integer
*  Sample list: [11, 33, 50]

In [63]:
list = [11, 33, 50]
for x in list:
    print (x, end='')

113350

10.Write a Python program to print a nested lists (each list on a new line) using the print() function.

*  colors = [['Red'], ['Green'], ['Black']]

In [72]:
colors = [['Red'], ['Green'], ['Black']]
for x in colors:
  print(x)

['Red']
['Green']
['Black']

11. Write a Python script to concatenate following dictionaries to create a new one using a loop

* dic1={1:10, 2:20}
* dic2={3:30, 4:40}
* dic3={5:50,6:60}

In [75]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
for x in (dic1,dic2,dic3):
  dic4.update(x)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

12.Write a Python script to check whether a given key already exists in a dictionary.

In [76]:
dict = {1:'name', 2: 'age',3:'height'}
def present (x):
  if x in dict:
    print('We got it.')
  else:
    print("No, it's not here.")
present(1)
present(5)

We got it.
No, it's not here.

13  Write a Python program to check the validity of password input by users. Go to the editor
Validation :
*  At least 1 character from [$#@].
*  Minimum length 6 characters.

In [84]:
import re
p= input("Input your password with at least one $ or # or @")
x = True
while x:  
    if (len(p)<6):
        break
    elif not re.search("[$#@]",p):
        break
    else:
        print("Valid ")
        x=False
        break

if x:
    print("Not valid ")

Input your password with at least one $ or # or @@12
Not valid

14. Write a Python program to reverse a string

In [80]:
str = 'Vera'
rstr = ''.join(reversed(str))
print(rstr)

areV

15. rite a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically
* green-red-yellow-black-white

In [85]:
n=input("enter the string plz: ") 
l=n.split('-') 
l.sort() 
print('-'.join(l))

enter the string: green-red-yellow-black-white
black-green-red-white-yellow